<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<h2 class="text-center">{%= __("Athlete Report") %}</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center">{%= __("Full Name") %}</th>
            <th class="text-center">{%= __("First Name") %}</th>
            <th class="text-center">{%= __("Middle Name") %}</th>
            <th class="text-center">{%= __("Last Name") %}</th>
            <th class="text-center">{%= __("Sport") %}</th>
            <th class="text-center">{%= __("Start Date") %}</th>
            <th class="text-center">{%= __("End Date") %}</th>
            <th class="text-center">{%= __("No. of Games") %}</th>
        </tr>
    </thead>
    <tbody> 
        {% for(var i=0, l=data.length-1; i<l; i++) {
            var row = data[i]; %}
            <tr>
                <td class="text-center">{%= row['full_name'] %}</td>
                <td class="text-center">{%= row['first_name'] %}</td>
                <td class="text-center">{%= row['middle_name'] %}</td>
                <td class="text-center">{%= row['last_name'] %}</td>
                <td class="text-center">{%= row['sport_name'] %}</td>
                <td class="text-center">{%= row['start_date'] %}</td>
                <td class="text-center">{%= row['end_date'] %}</td>
                <td class="text-center">{%= row['no_of_games'] %}</td>
            </tr>
        {% } %}
    </tbody>
</table>
